/*start */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: black;
}

.main_page{
  
  height: 20vh;
}
/*start nav */
header nav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem; 
}
/* Stylar infon som kommer visas direkt i naven som också kommer agera som menu knappar*/
.logo img {
  width: 30px;
margin-left: 2rem;
}
.logo p{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
} 
#nav-links{
  display:none;
}

.logo p, 
.logo input{
  display: inline-block;
margin-left: 1rem;
}
.logo input{
  padding: 5px 5px 5px 30px;
  background-color: #fff;
  background-position: 8px ;
  background-image: url("/img/SearchEmail.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.2rem;
}
.logo input:focus{
 background-color: #f5b53a;
 color:#fff;
}

.links {
  color: #fff;
  text-decoration: none;
  font-size:larger;
  padding-right: 3rem;
}
.links{
  list-style: none;
  margin-right: 2rem;
}
/*När man hoverar över de olika nav linksen så kommer de ändra färg.*/
.links:hover {
  color: #f5b53a;

}
/*slut nav */
/* Stylar så att bilden blir responsiv i sin position och hur mycket plats den ska ha från toppen till naven */
#main_row{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 50px;
}
/*stylar texten i innehållet(mainrow)*/
#main_row .showcase2 h1{
  font-size: 4rem;
  color: #f5b53a;
  padding-top: 1rem;
}
#main_row .showcase2 p{
  color:#fff;
}
/*Stylar join knappen så att den har avrundade kanter tack vare border radius samt att när man hoverar över knappen så byter den sakta färg till orange.*/
#main_row .showcase2 button{
  color:#f5b53a;
  background-color:#fff ;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: bolder ;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
#main_row .showcase2 button:hover{
  
  color:#fff;
  background-color: #f5b53a;
  transition: background-color 0.5s ease-in;
  cursor:pointer;
  }

  #main_row .showcase2 .message{
    display: inline;
  }
  #main_row .showcase2 .message img{
    width: 35px;
    margin-left: 2rem;
    vertical-align: middle ;
    cursor: pointer;
  }
  #main_row .showcase2 .message span {
margin-left: 1rem;
cursor: pointer;
  }
  #main_row .showcase2 .message span:hover {
    color:#f5b53a;
    transition: background-color 0.5s ease-in;
      } 


.container{
  
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  font-family: sans-serif;
}
.rubrik{
  justify-content: center;
  display: flex;
  color:#f5b53a
}
/*SÄger hur mellan rummet mellan bilderna ska vara  och vilken färg containern ska ha*/
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  color:#f5b53a
  }
  /*HUr containern/ramen runt foto ska se ut och vad som hände rnär man har muspekaren inuti ramen*/
  .foto{
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
   }
    /*Satt ett filter framför bilderna som försvinner när man hoverar*/
    img:hover {
      filter: grayscale(0);
    }
    :hover {
      border-color: #f5b53a;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
    }
    .grid{
      background-color: #f5b53a;
    padding: 10px;
    }
    /*Stylar hur grid items ska var positionerade vilken färg de ska ha samt hur kanterna runt grid-items ska se ut*/
    .grid-item {
      background-color: black;
      border: 1px solid #f5b53a;
      color:#f5b53a;
      padding: 20px;
      font-size: 30px;
      text-align: center;

    }
  #top{
    color: #f5b53a;
    display:flex;
    justify-content: center;
  }
 @media screen and (max-width: 480px)
 {
   .logo{
    display: none;
   }
ul{
  display: contents;
  grid-column: 1/-1;

}

  
 }

 @media (max-width: 767px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 30px;
    margin-right: 10px;
  }

  .logo p {
    margin: 0;
  }

  #search {
    display: none; /*ta bort/gömma search baren*/
  }



  #nav-links.visible {
    display: block; /* visa navlinksen */
  }

  #nav-links li {
    margin-bottom: 10px;
  }

  #nav-links a {
    color: #fff;
    text-decoration: none;
  }
  img{
    filter: grayscale(0);
  }
  

  }
  

/*När websiten eller använderen inte har script styling*/

h2{
color: #f5b53a;
}
a{
  color: #fff;
  text-decoration: none;
}







